/* src/App.css */
.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
}

.navbar .logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.landing-page, .technology-page, .about-page {
  padding: 50px;
}

.landing-page h1, .technology-page h1, .about-page h1 {
  font-size: 2.5rem;
}
